@model MyAppAspNet.Models.MenuApp

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>MenuApp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MenuText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IconMenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IconMenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderSort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderSort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuApp2.MenuText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuApp2.MenuText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
