@model IEnumerable<MyAppAspNet.Models.MenuApp>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Role Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MenuText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IconMenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderSort)
        </th>
        <th>
            Parent
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    @Html.Partial("~/Views/appdashboard/masterdata/Menu/Item.cshtml", item);
}

</table>
