@model IEnumerable<MyAppAspNet.Models.MenuApp>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MenuText)
        </th>
        <th>
            Role Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IconMenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderSort)
        </th>
        <th>
            Parent
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    var dir = new Dictionary<String, Object>();
    dir["sparator"] = "";
    dir["item"] = item;
    @Html.Partial("~/Views/appdashboard/masterdata/Menu/Item.cshtml", dir);
}

</table>
