@model IEnumerable<MyAppAspNet.Models.MenuApp>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MenuText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IconMenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderSort)
        </th>
        <th>
            Parent
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MenuText)
        </td>
        <td>
            @Html.Raw(item.IconMenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderSort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MenuApp2.MenuText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roles.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
