@model Dictionary<String,Object>
<tr @if((string)Model["sparator"] == "") { @Html.Raw("style='font-weight:bold'") }>
    <td>
@Html.Raw((string)Model["sparator"]) ❯ @Html.DisplayFor(modelItem => ((MyAppAspNet.Models.MenuApp)Model["item"]).MenuText)
    </td>
    <td>
        @Html.DisplayFor(modelItem => ((MyAppAspNet.Models.MenuApp)Model["item"]).Roles.name)
    </td>
    <td>
        @Html.Raw(((MyAppAspNet.Models.MenuApp)Model["item"]).IconMenu)
    </td>
    <td>
        @Html.DisplayFor(modelItem => ((MyAppAspNet.Models.MenuApp)Model["item"]).OrderSort)
    </td>
    <td>
        @Html.DisplayFor(modelItem => ((MyAppAspNet.Models.MenuApp)Model["item"]).MenuApp2.MenuText)
    </td>
    <td>
        @Html.Partial("~/Views/Shared/action/edit-button.cshtml", ((MyAppAspNet.Models.MenuApp)Model["item"]).ID)
        @Html.Partial("~/Views/Shared/action/delete-button.cshtml", ((MyAppAspNet.Models.MenuApp)Model["item"]).ID)
    </td>
</tr>
@foreach (var item in ((MyAppAspNet.Models.MenuApp)Model["item"]).MenuApp1.OrderBy(a => a.OrderSort).ToList())
{
    var dir = new Dictionary<String, Object>();
    dir["sparator"] = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+ (string)Model["sparator"];
    dir["item"] = item;
    @Html.Partial("~/Views/appdashboard/masterdata/Menu/Item.cshtml", dir);
}