@model IEnumerable<MyAppAspNet.Models.Groups>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Template.cshtml";
}
<p>
   @Html.Partial("~/Views/Shared/action/add-button.cshtml", "Create New")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Note
        </th>
        <th>Aciton</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remark)
        </td>
        <td>
            @Html.Partial("~/Views/Shared/action/edit-button.cshtml", item.id) |
            @Html.Partial("~/Views/Shared/action/delete-button.cshtml", item.id)
        </td>
    </tr>
}

</table>
