@model IEnumerable<MyAppAspNet.Models.Users>

@{
    ViewBag.Title = "User Data";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<p>
    @Html.Partial("~/Views/Shared/action/add-button.cshtml", "Create New")
</p>
<table class="table table-hover">
    <tr>
        <th>
            UserID
        </th>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th>
            Address
        </th>
        <th>
            Gender
        </th>
        <th>
            Status
        </th> 
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nohp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.EditorFor(modelItem => item.status, new { htmlAttributes = new { @dataid = item.id, @datafield = "status" } })
        </td> 
        <td>
            <a href='' class="btn btn-xs btn-warning text-light" onclick="resetPassword(@item.id);"><i class="fas fa-key"></i></a> 
            <a href='@Url.Action("Index","UserRole",new{ iduser = item.id})' class="btn btn-xs btn-info text-light"><i class="fas fa-shield-alt"></i></a> 
            <a href='@Url.Action("Index","UserGroupLevel",new{ iduser = item.id})' class="btn btn-xs btn-warning text-light"><i class="fas fa-layer-group"></i></a> 
            @Html.Partial("~/Views/Shared/action/edit-button.cshtml", item.id) 
            @Html.Partial("~/Views/Shared/action/details-button.cshtml", item.id) 
            @Html.Partial("~/Views/Shared/action/delete-button.cshtml", item.id) 
        </td>
    </tr>
}

</table>
<script>
    $(document).ready(function () {
        $("input[type=checkbox]").on("click",function (e) {
            var iduser = $(this).attr("dataid");
            var field = $(this).attr("datafield");
            var fieldvalue = $(this).is(':checked');
            checkedAccess(iduser, field, fieldvalue);
        });
        function checkedAccess(iduser, filed, fieldvalue) {
            $.ajax({
                type: 'POST',
                url: '@HttpContext.Current.Request.Url.AbsolutePath/edit/' + iduser,
                data: {
                    __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
                    "key": filed,
                    "val": fieldvalue
                },
                success: function (data) {
                    //alert(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //alert(xhr.responseText);
                    //alert(thrownError);
                }
            });
        }
    });
    function resetPassword(iduser) {
        var r = confirm("Are You Sure Want To Reset password?");
        if (r == true) {
            $.ajax({
                type: 'POST',
                url: '@HttpContext.Current.Request.Url.AbsolutePath/edit/' + iduser,
                data: {
                    __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
                    id_user: iduser,
                    reset_pass: 'reset_pass',
                },
                success: function (data) {
                    //alert(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //alert(xhr.responseText);
                    //alert(thrownError);
                }
            });
        }
    }
</script>