@model IEnumerable<MyAppAspNet.Models.UserRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Template.cshtml";
}
    <form>
        Group
        <div class="row">
            <div class="col-md-8">
                @Html.DropDownList("idgroup", null, "Select Group", htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-info" value="SEARCH" />
            </div>
        </div>
    </form>
<br />
<br/>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Remark
        </th>
        <th>
            View
        </th>
        <th>
           Add
        </th>
        <th>
           Edit
        </th>
        <th>
            Delete
        </th>
        <th>
            Print
        </th>
        <th>
           Custom
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Roles.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roles.note)
        </td>
        <td>
            @if (item.Roles.AccessView)
            {
                @Html.EditorFor(modelItem => item.allow_view, new { htmlAttributes = new { @dataid = item.Roles.id, @datafield = "isView" } })
            }

        </td>
        <td>
            @if (item.Roles.AccessAdd)
            {
                @Html.EditorFor(modelItem => item.allow_add, new { htmlAttributes = new { @dataid = item.Roles.id, @datafield = "isAdd" } })
            }
        </td>
        <td>
            @if (item.Roles.AccessEdit)
            {
                @Html.EditorFor(modelItem => item.allow_edit, new { htmlAttributes = new { @dataid = item.Roles.id, @datafield = "isEdit" } })
            }
        </td>
        <td>
            @if (item.Roles.AccessDelete)
            {
                @Html.EditorFor(modelItem => item.allow_delete, new { htmlAttributes = new { @dataid = item.Roles.id, @datafield = "isDelete" } })
            }
        </td>
        <td>
            @if (item.Roles.AccessPrint)
            {
                @Html.EditorFor(modelItem => item.allow_print, new { htmlAttributes = new { @dataid = item.Roles.id, @datafield = "isPrint" } })
            }
        </td>
        <td>
            @if (item.Roles.AccessCustom)
            {
                @Html.EditorFor(modelItem => item.allow_custom, new { htmlAttributes = new { @dataid = item.Roles.id, @datafield = "isCustom" } })
            }
        </td>
    </tr>
}

</table>
