@model MyAppAspNet.Models.GroupLevel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Group Master
            <div class="col-md-10">
                @Html.DropDownList("id_group", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_group, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Parent
            <div class="col-md-10">
                @Html.DropDownList("id_parent", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_parent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Remark
            <div class="col-md-10">
                @Html.EditorFor(model => model.remark, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.remark, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
