@model IEnumerable<MyAppAspNet.Models.GroupLevel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Group
        </th>
        <th>
            Remark
        </th>
        <th>
            Parent
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Groups.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupLevel2.Groups.name)-
            @Html.DisplayFor(modelItem => item.GroupLevel2.remark)
        </td>
        <td>
            <a href="@Url.Action("Index", "RoleGroupLevel",new { idgroup = item.id })">Role</a> | 
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
