@model Dictionary<String, Object>
@{
    var itemid = (Int64?)Model["itemid"];
}
<option @if ( itemid == ((MyAppAspNet.Models.GroupLevel)Model["item"]).id) { @Html.Raw("selected")  } value="@Html.DisplayFor(modelItem => ((MyAppAspNet.Models.GroupLevel)Model["item"]).id)">
    @Html.Raw((string)Model["sparator"]) ❯ @Html.DisplayFor(modelItem => ((MyAppAspNet.Models.GroupLevel)Model["item"]).Groups.name)
</option>
@foreach (var item in ((MyAppAspNet.Models.GroupLevel)Model["item"]).GroupLevel1.OrderBy(a => a.Groups.name).ToList())
{
    var dir = new Dictionary<String, Object>();
    dir["sparator"] = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + (string)Model["sparator"];
    dir["itemid"] = itemid;
    dir["item"] = item;
    @Html.Partial("~/Views/appdashboard/adminsystem/GroupLevel/Option.cshtml", dir);
}
