@model MyAppAspNet.Models.Roles

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Template.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.url, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.url, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.url, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.controller, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.controller, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.controller, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="controller">Have Access</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.AccessView) <span>View</span>
                    @Html.ValidationMessageFor(model => model.AccessView, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.AccessAdd) <span>Add</span>
                    @Html.ValidationMessageFor(model => model.AccessAdd, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.AccessEdit) <span>Edit</span>
                    @Html.ValidationMessageFor(model => model.AccessEdit, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.AccessDelete) <span>Delete</span>
                    @Html.ValidationMessageFor(model => model.AccessDelete, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.AccessPrint) <span>Print</span>
                    @Html.ValidationMessageFor(model => model.AccessEdit, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.AccessCustom) <span>Custom</span>
                    @Html.ValidationMessageFor(model => model.AccessEdit, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
