@model MyAppAspNet.Models.Roles

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<h2>Detail</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Note
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            Url
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

        <dt>
            Controller
        </dt>

        <dd>
            @Html.DisplayFor(model => model.controller)
        </dd>

        <dt>
            Have Access           
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccessView) <span>View</span>
            @Html.DisplayFor(model => model.AccessAdd) <span>Add</span>
            @Html.DisplayFor(model => model.AccessEdit) <span>Edit</span>
            @Html.DisplayFor(model => model.AccessDelete) <span>Delete</span>
            @Html.DisplayFor(model => model.AccessPrint) <span>Print</span>
            @Html.DisplayFor(model => model.AccessCustom) <span>Custom</span>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
