@model IEnumerable<MyAppAspNet.Models.Roles>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<p>
    @Html.Partial("~/Views/Shared/action/add-button.cshtml", "Create New")
</p>
<div style="overflow: auto;">
    <table class="table">
        <tr>
            <th>
               Name
            </th>
            <th>
                Note
            </th>
            <th>
                Url
            </th>
            <th>
                Controller
            </th>
            <th>
               View
            </th>
            <th>
               Add
            </th>
            <th>
               Edit
            </th>
            <th>
               Delete
            </th>
            <th>
               Print
            </th>
            <th>
               Custom
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.controller)
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.AccessView, new { htmlAttributes = new { @dataid = item.id, @datafield = "AccessView" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.AccessAdd, new { htmlAttributes = new { @dataid = item.id, @datafield = "AccessAdd" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.AccessEdit, new { htmlAttributes = new { @dataid = item.id, @datafield = "AccessEdit" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.AccessDelete, new { htmlAttributes = new { @dataid = item.id, @datafield = "AccessDelete" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.AccessPrint, new { htmlAttributes = new { @dataid = item.id, @datafield = "AccessPrint" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.AccessCustom, new { htmlAttributes = new { @dataid = item.id, @datafield = "AccessCustom" } })
                </td>
                <td nowrap>
                    @Html.Partial("~/Views/Shared/action/edit-button.cshtml", item.id) 
                    @Html.Partial("~/Views/Shared/action/delete-button.cshtml", item.id)
                </td>
            </tr>
        }

    </table>
</div>
<script>
    $(document).ready(function () {
        $("input[type=checkbox]").on("click",function (e) {
            var idrole = $(this).attr("dataid");
            var field = $(this).attr("datafield");
            var fieldvalue = $(this).is(':checked');
            checkedAccess(idrole, field, fieldvalue);
        });
        function checkedAccess(idrole, filed, fieldvalue) {
            $.ajax({
                type: 'POST',
                url: '@HttpContext.Current.Request.Url.AbsoluteUri/edit/'+ idrole,
                data: {
                    __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
                    "key": filed,
                    "val": fieldvalue
                },
                success: function (data) {
                    //alert(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //alert(xhr.responseText);
                    //alert(thrownError);
                }
            });
        }
    });
</script>
