@model MyAppAspNet.Models.MenuApp
@if (Model.MenuApp1.Count > 0)
{
    <li class="nav-item has-treeview menu-close">
        <a href="#" class="nav-link ">
            @Html.Raw(Model.IconMenu)
            <p>
                @Model.MenuText
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            @{
                var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
                var idusr = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value;
            }
            @foreach (var item in Model.MenuApp1.OrderBy(a => a.OrderSort).Where(a => a.Roles.UserRole.Where(b => b.Users.userid == idusr).Count() > 0))
            {
              if (item.Roles.UserRole.Where(a => a.allow_view == true).Where(a => a.id_user == 16).FirstOrDefault() != null)
                 {
                    @Html.Partial("~/Views/Shared/itemmenu.cshtml", item)
                 }
            }
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        @{ 
        }
        <a href="~/@Html.Raw(Model.Roles.url)" class="nav-link item-menu">
            @Html.Raw(Model.IconMenu)
            <p>@Model.MenuText</p>
        </a>
    </li>
}