@model MyAppAspNet.Models.MenuApp
@if (Model.MenuApp1.Count > 0)
{
    <li class="nav-item has-treeview menu-close">
        <a href="#" class="nav-link ">
            @Html.Raw(Model.IconMenu)
            <p>
                @Model.MenuText
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            @foreach (var item in Model.MenuApp1)
            {
                @Html.Partial("~/Views/Shared/itemmenu.cshtml", item)
            }
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        @{ 
        }
        <a href="@Html.Raw(Model.Role.url)" class="nav-link item-menu">
            @Html.Raw(Model.IconMenu)
            <p>@Model.MenuText</p>
        </a>
    </li>
}